/** @format */


/* A legbelső gyermekből indul el a HTML elemek. A legalsó a legereősbb elem!*/

div>div {
    width: 100vh;
    height: 100vh;
    background-color: yellow;
}

div>div>div {
    width: 90vh;
    height: 90vh;
    background-color: rgb(132, 132, 116);
}

div>div>div>div {
    width: 80vh;
    height: 80vh;
    background-color: rgb(39, 214, 179);
}

div>div>div>div>div {
    width: 70vh;
    height: 70vh;
    background-color: rgb(128, 186, 125);
}

div>div>div>div>div>div {
    width: 60vh;
    height: 60vh;
    background-color: rgb(217, 24, 120);
}

div>div>div>div>div>div>div {
    width: 50vh;
    height: 50vh;
    background-color: rgb(205, 205, 212);
}

div>div>div>div>div>div>div>div {
    width: 40vh;
    height: 40vh;
    background-color: rgb(37, 40, 206);
}

div>div>div>div>div>div>div>div>div {
    width: 30vh;
    height: 30vh;
    background-color: rgb(161, 181, 198);
}

div>div>div>div>div>div>div>div>div>div {
    width: 20vh;
    height: 20vh;
    background-color: rgb(104, 104, 124);
}

div>div>div>div>div>div>div>div>div>div>div {
    width: 10vh;
    height: 10vh;
    background-color: rgb(251, 0, 38);
}


/*Class erősebb és sorrendiség szerint hajtja végre: */


/* .green {
    background: green;
} */

.blue {
    background: blue;
}

.circle {
    border-radius: 50%;
}


/* 
.most-inner:hover {
    background-color: gold;
} */

.most-outer .inner {
    border: 5px solid rgb(7, 7, 7);
}


/* olyan mintha egy html elem lenne 'force element'-k */

.most-inner::before {
    background-color: rebeccapurple;
    content: "before";
}

.most-inner::after {
    background-color: gray;
    content: "after";
}


/* a[ href="http://www.codecool.com"] {
    font-weight: bold;
    color: white;
} */